
//篮球类型
  .basicBasketball {
    min-width: 350px;
    border: 1px solid #ebedf0;
    //padding: 8px;
    height: 300px;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    .line {
      color: #999;
      font-size: 15px;
      font-weight: bold;
      margin-right: 8px;
      margin-left: 8px;
    }

    :global {
      .ant-row {
        padding: 3px;
      }
    }
    .basicLabel {
      text-align: right;
    }
  }

